{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search YouTube</title>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'apiapp/album.css' %}" rel="stylesheet">
  </head>
  <body>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">genre Search</h1>
      <p class="lead text-muted">Get the top nine results on TMDB for your query!</p>
      <form method="POST">
      <div class="input-group mb-3">
        <!--

          <input type="text" name="searchtitles" class="form-control" aria-label="Username">
      </div>
      <p>
      -->
        {% csrf_token %}
        <button type="submit" name="submit" value="search" class="btn btn-primary my-2">TMDB Search</button>
      </p>
      </form>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for i in genres %}
          <div class="col-md-4 col-lg-3">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <h4>{{ id }}</h4>
                <h4>{{ name }}</h4>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>

</main>
</body>
</html>